<SearchButton />
<div class="nft-list" v-if="currentNFTs">
    <div class="wrapper">
        <div class="nft-box" >
            <div class="titles-table">
                <p></p>
                <p>ID</p>
                <p>Azienda</p>
                <p>CO<sub>2</sub> (kg)</p>
                <p>Progetto</p>
                <p>Tipo</p>
                <p>Origine</p>
                <p>Data</p>
            </div>
            <div class="nft-table">
                <div class="nft" v-for="nft in currentNFTs" :key="nft.id" :data-id="nft.id">
                    <div class="image-container">
                        <img :src="nft.image" alt="image">
                    </div>
                    <p class="text id">{{nft.internal_id}}</p>
                    <p class="text">{{nft.details.entity_name}}</p>
                    <p class="text">{{nft.formatted_quantity_kg}}</p>
                    <div class="text-container">
                        <p class="text">{{nft.details.project_name}}</p>
                        <p class="text sub">{{nft.standard_full}}</p>
                    </div>
                    <p class="text">{{nft.details.project_type}}</p>
                    <p class="text">{{nft.details.country_name}}</p>
                    <p class="text">{{nft.details.transaction_datetime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>